*{
    box-sizing :border-box;

}

body {
    margin : 0;
    font-family:Inter, sans-serif;
    background-color:#212331;
    background-image: url(/src/images/react_logo.png);
    background-repeat: no-repeat;
     
} 

nav{
    display :flex;
    align-items:center;
    background-color:#191a1f;
    padding:35px 30px;
}
nav > h3{
    margin :0;
    margin-right: auto;
    color: aqua;
    font-size: 27px;
    font-weight: 700;
    

}
nav > h4{
    margin :0;
color:rgb(190, 207, 206);
font-size: 18px;
font-weight: 600;
font-style: oblique;
}
nav > img {
    height:35px;
    margin-right:7px;
    width: auto;

}

.main{
    justify-content: center;
    font-family: sans-serif;
    font-size: 50px;
    color: #ffffff;
    font-weight: 600;
    padding-left: 100px;
    padding-top: 50px;

}
.facts{
    color: #ffffff;
    padding-left: 150px;
    padding-top: 10px;
    padding-block: 10px ;
    
}
.facts >li{
    padding-block: 10px;
    font-size: larger;
    font-style: italic;
    font-weight: 600;
}
.facts >li::marker{
    font-size: 1.4rem;
    color: aqua;

}